.front-page-link .box:hover {
    background: #eeeeee;
    border-radius: 5px;
    color: gray;

    -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.43);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.43);
    transition: 1s;
}

.front-page-link h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.get_the_permalink_class,
.get_the_permalink_class:hover {
    color: black;
    text-decoration: none;
}

time.icon {
    font-size: .7em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #2098d2;
    border-bottom: 1px dashed #226bd2;
    box-shadow: 0 2px 0 #226bd2;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #2098d2;
}

time.icon span {
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}


.sidebar ul {
    list-style: none;
    padding: 0 0 0 20px ;
}

.sidebar li:before{
    content: "\00BB";
    margin: 5px 5px 5px 0;
}
.sidebar li:hover:before{
    color:red;
    content: "\00BB";

}