@import url('css/bootstrap.min.css');
@import url('css/business-casual.css');
@import url('css/style_notebook.css');

body {
    padding-top: 90px;
}

.box_breadcrumbs {
    padding: 5px;
}

#breadcrumbs {
    list-style: none;
    margin: 5px 0;
    overflow: hidden;
    padding-left: 10px;
}

#breadcrumbs ul {
    max-width: 100%;
}

#breadcrumbs li {
    display: inline-block;
    float: left;
}

#breadcrumbs li + li:after {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}

#breadcrumbs li:last-child {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 2s;
}

#breadcrumbs li:last-child:hover {
    width: 500px;
}

#breadcrumbs li:last-child:after {
    content: " ";
}

#breadcrumbs .separator {
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
}

/* Wrapper */
.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .fa-twitter {
    color: #4099ff;
}

.icon-button .fa-facebook {
    color: #3B5998;
}

.icon-button .fa-google-plus {
    color: #db5a3c;
}

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-google-plus {
    color: white;
}

#myCanvasContainer {
    background: transparent !important;
}

.my-quote {
    text-align: center;
    opacity: 0.9;
    background: #FFF;
}

a.fa.fa-link {
    text-decoration: none;
}

.fa-chain:before, .fa-link:before {
    margin-right: 15px;
}