html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    background: aqua;
}

.home {
    height: 600px;
    background: whitesmoke;
    position: relative;
}

header {
    height: 110px;
    padding: 20px 20px 0 20px;
    background: #222;
    position: relative;
}

.logo {
    height: 70px;
    position: absolute;
    width: 70px;
    background-color: #aa00a0;
}

.titulo {
    width: 150px;
    height: 30px;
    position: absolute;
    left: 110px;
    top: 40px;
    background-color: #2aabd2;
}

nav {
    position: absolute;
    right: 0;
    margin-right: 30px;
    background: whitesmoke;
    top: 70px;
    width: 400px;
    height: 40px;
}

.slider {

}

.legend {
    width: 400px;
    height: 470px;
    background: mediumaquamarine;
    opacity: 0.6;
    position: absolute;
    left: 20px;
}

.texto_legend {
    position: absolute;
    background: #ff7518;
    left: 40px;
    top: 150px;
    z-index: 10;
    height: 200px;
    width: 300px;
}

.routes {
    width: 100%;
    height: 600px;
    padding: 50px 150px 0 150px;
    position: relative;
    background-color: #0f0f0f;
    box-sizing: border-box;
}

.routes section {

}

.titulo_routes {
    display: inline-table;
    width: 180px;
    height: 40px;
    background-color: #8d46b0;
    margin: 0 auto;
}

.routes > div:nth-child(0) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #2aabd2;
}

.routes > div:nth-child(1) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #2aabd2;
}

.routes > div:nth-child(2) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #226bd2;
}

.routes > div:nth-child(3) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #3442d2;
}

.routes > div:nth-child(4) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #3820d2;
}

.routes > div:nth-child(5) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #490cd2;
}

.routes > div:nth-child(6) {
    width: 180px;
    height: 40px;
    float: left;
    background-color: #ff7518;
}

.routes > div:nth-child(7) {
    width: 180px;
    height: 40px;
    float: left;
    background-color: #ff5d1f;
}

.routes > div:nth-child(8) {
    width: 180px;
    height: 40px;
    float: left;
    background-color: #ff4538;
}

.routes > div:nth-child(9) {
    width: 180px;
    height: 40px;
    float: left;
    background-color: #ff2242;
}

.routes > div:nth-child(10) {
    width: 180px;
    height: 40px;
    float: left;
    background-color: #ff238c;
}

.routes > div:nth-child(11) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #2aabd2;
}

.routes > div:nth-child(12) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #226bd2;
}

.routes > div:nth-child(13) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #3442d2;
}

.routes > div:nth-child(14) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #3820d2;
}

.routes > div:nth-child(15) {
    width: 180px;
    height: 180px;
    float: left;
    background-color: #490cd2;
}

.howtocome {
    width: 100%;
    height: 500px;
    background-color: darkred;
    position: relative;
    padding: 0 50px 50px 50px;
    box-sizing: border-box;
}

.howtocome div:nth-child(1) {
    width: 550px;
    height: 225px;
    background-color: #8d46b0;
    float: left;
}

.howtocome div:nth-child(2) {
    width: 550px;
    height: 225px;
    background-color: #9a3ab0;
    float: left;
}

.howtocome div:nth-child(3) {
    width: 550px;
    height: 225px;
    background-color: #9e25b0;
    float: left;
}

.howtocome div:nth-child(4) {
    width: 550px;
    height: 225px;
    background-color: #a30fb0;
    float: left;
}

.howtocome div:nth-child(5) {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 25px;
    left: 400px;
    border-radius: 50%;
    background-color: #ff238c;

}