* {
    font-family: Lato, sans-serif;
    margin: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background: url(../img/riskyjobs/index.jpg) fixed center no-repeat;
    padding-bottom: 10%;
    min-height: 100%;
    position: relative;
    margin: 0;
}

ol {
    margin: 0 5%;
    padding: 0;
}

fieldset {
    display: block;
    border: 0;
    border-top: 1px solid #DDD;
    width: 98%;
    margin: 0;
    padding: 10px 0;
}

legend {
    color: #8E24AA;
    font-size: 3em;
    text-align: center;
    padding: 5px 20px;
}

input[type=text] {
    width: 300px;
    padding: 5px;
}

.buscador {
    margin-left: 25%;
    width: 50%;
}

.buscador > form {
    width: 100%;
    display: inline-block;
    text-align: center;
}

input[type=text] {
    width: 50%;
    padding: 1em 2em;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
}

input[type=button], input[type=submit] {
    background-color: #a30fb0;
    color: white;
    padding: 1em 2em;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid #a30fb0;
}

input[type=text]:focus {
    border: 3px solid #a30fb0;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline-block;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #a30fb0;
    color: white;
    border: 1px solid #a30fb0;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

ul.pagination form input[type=submit] {
    background-color: #ddd;
    border: 1px solid #ccc;
}

ul.pagination form input[type=submit]:hover,
ul.pagination form input[type=submit].active {
    background-color: #a30fb0;
    color: white;
    border: 1px solid #a30fb0;
}

div.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

th {
    text-align: left;
}

td {
    height: 5em;
}

tr:hover {
    background-color: #f2f2f2;
}

th {
    background-color: #a30fb0;
    color: #FFF;
}

.description {
    width: 50%;
}

footer {
    margin-top: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
    padding: 1rem;
}

.p_footer {
    margin-top: 10px;
}