* {
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #FFF;
}

h4 {
    font: 400 1.1em/1.8 "Lato", sans-serif !important;
}

h3 {
    font: 400 1.2em/1.8 "Lato", sans-serif !important;
}

h2 {
    font: 400 2em/1.8 "Lato", sans-serif;
}

p {
    color: #fff;
    font: 400 1.1em/1.8 "Lato", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

form > table {
    background: rgba(34, 34, 34, 0.8);
}

table {
    padding: 10px;
    margin: 0 auto;
}

th {
    color: #8E24AA;
    font-size: 1.4em;
}

.right {
    float: right;
}

label {
    float: left;
    color: #eee;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    color: #000000;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #D81B60;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type=reset] {
    background-color: #8E24AA;
}

button, span {
    color: #FFF;
}

form {
    /*    padding-top: 5%;*/
}

nav {
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    background: #222;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font: 400 1em/1.8 "Lato", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #EC407A;
}

.active {
    background-color: #EC407A;
}

.caja {
    position: absolute;
    /* margin: 10% 5% 0; */
    padding: 0 5%;
    min-width: 65%;
    min-height: 75%;
    background: rgba(34, 34, 34, 0.8);
}

.img_usuario {
    position: absolute;
    border-radius: 50%;
    top: -5%;
    right: -5%;
    width: 250px;
    height: 250px;
}

.img_usuario2 {
    width: 150px;
    height: 150px;
}

.b_ra {
    border-radius: 50%;
}

.success > p {
    padding-left: 5px;
}

.success {
    background: #4CAF50;
    color: #FFF;
}

.nav_picture > img {
    height: 40px;
    padding-top: 5px;
}

.parallax1 {
    min-height: 100%;
    background: url("../img/parallax4.jpg") no-repeat fixed center;
    padding: 7% 15% 15% 15%;
    background-size: cover;
}

.parallax2 {
    min-height: 100%;
    background: url("../img/img_parallax2.jpg") no-repeat fixed center;
    background-size: cover;
    padding: 15%;
}

.parallax3 {
    min-height: 100%;
    background: url("../img/tinder.jpg") no-repeat fixed center;
    padding: 15%;
    background-size: cover;
}

.parallax4 {
    min-height: 100%;
    background: url("../img/fondo.jpeg") no-repeat fixed center;
    padding: 7% 15% 15% 15%;
    background-size: cover;
}

fieldset {
    padding: 1em;
    font: 80%/1 sans-serif;
    width: 80%;
    margin: 0 auto;
}

legend {
    color: #fff;
}


.table_color {
    color: #eee;
}
